#gif{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#titulo{
    background-color: #7e0404;
    font-size: xx-large;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    padding: 1%;
}
#cardapio{
    text-align: center;
}
#caixa{
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid rgb(red, green, blue);
    border-radius: 8px;
    padding: 8px;
    box-shadow: inset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
#produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: #DFDBDB solid 2px;
    width: 295px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}
#produtos-nome{
    font-size: 22px;
    margin: 10px 0;
    width: 252px ;
    height: auto;
    border: #DFDBDB solid 2px;
}
#descricao{
    color: #666;
    width: 252px;
    height: auto;
    background-color: #fdeb23;
}
#p-descricao{
    font-size: 30px;
}
#botao{
    width: 142px;
    height: 47px;
    background-color: red;
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    color: white;
    border: black solid 2px;
    font-weight: bold;
}
.imagem{
    width: 252px;
    max-width: 252px;
    height: 220px;
}
